@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/partials/_header.scss */
header .header-form {
  background: url("../images/top-bar.png") no-repeat scroll 0 0/100% 100% rgba(0, 0, 0, 0);
  height: 100px;
}
/* line 6, ../sass/partials/_header.scss */
header .header-form .search-field, header .header-form .dir-field {
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
}
/* line 12, ../sass/partials/_header.scss */
header .header-form label {
  font-size: 1.17em;
  font-weight: 100;
  line-height: 1.7em;
  margin: 0;
  text-align: right;
  color: #4f4f4f;
  font-family: Helvetica,Arial;
}
/* line 21, ../sass/partials/_header.scss */
header .header-form label:hover {
  cursor: auto;
}
/* line 25, ../sass/partials/_header.scss */
header .header-form .column {
  position: relative;
}
/* line 29, ../sass/partials/_header.scss */
header .header-form .search-icon, header .header-form .dir-icon {
  background: none repeat scroll 0 0 #019bdb;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 0.7em;
  font-weight: 100;
  padding: 6px;
  position: absolute;
  right: 34px;
  top: 4px;
}
/* line 40, ../sass/partials/_header.scss */
header .header-form .search-icon:hover, header .header-form .dir-icon:hover {
  background: #016891;
}
/* line 46, ../sass/partials/_header.scss */
header .header-form .search-icon:after {
  content: "\e604";
  color: #FFFFFF;
  font-family: "icomoon";
}
/* line 54, ../sass/partials/_header.scss */
header .header-form .dir-icon:after {
  content: "\e605";
  color: #FFFFFF;
  font-family: "icomoon";
}
/* line 62, ../sass/partials/_header.scss */
header .main-header {
  background: #18130d;
}
/* line 67, ../sass/partials/_header.scss */
header .desktop-menu nav {
  position: relative;
}
/* line 72, ../sass/partials/_header.scss */
header .desktop-menu nav ul {
  margin: 0;
  overflow: auto;
}
/* line 75, ../sass/partials/_header.scss */
header .desktop-menu nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
}
/* line 82, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:first-child a:before {
  border-left: 14px solid transparent;
  border-top: 44px solid #019bdb;
  content: "";
  display: inline-block;
  height: 0;
  left: -14px;
  position: absolute;
  top: 0;
  width: 0;
}
/* line 96, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:last-child a:before {
  border-right: 14px solid rgba(0, 0, 0, 0);
  border-top: 44px solid #7ccdf8;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  right: -12px;
  top: 0;
  width: 0;
}
/* line 112, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:first-child:hover a:before, header .desktop-menu nav ul li:last-child:hover a:before {
  border-top: 44px solid #016891;
}
/* line 118, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:first-child a.current:before, header .desktop-menu nav ul li:last-child a.current:before {
  border-top: 44px solid #016891;
}
/* line 121, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:first-child a:active:before, header .desktop-menu nav ul li:last-child a:active:before {
  border-top: 44px solid #016891;
}
/* line 127, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:nth-child(1) span.icon:before {
  content: "\e601";
}
/* line 130, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:nth-child(2) span.icon:before {
  content: "\e606";
}
/* line 133, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:nth-child(3) span.icon:before {
  content: "\e607";
}
/* line 136, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:nth-child(4) span.icon:before {
  content: "\e600";
}
/* line 139, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:nth-child(5) span.icon:before {
  content: "\e602";
}
/* line 143, ../sass/partials/_header.scss */
header .desktop-menu nav ul li:last-child a {
  background: #7ccdf8;
}
/* line 147, ../sass/partials/_header.scss */
header .desktop-menu nav ul li a {
  display: inline-block;
  width: 100%;
  padding: 0.5em 2.71em;
  background: #019bdb;
}
/* line 153, ../sass/partials/_header.scss */
header .desktop-menu nav ul li a:hover, header .desktop-menu nav ul li a.current, header .desktop-menu nav ul li a:active {
  background: #016891;
}
/* line 157, ../sass/partials/_header.scss */
header .desktop-menu nav ul li a span.text {
  color: #fff;
  text-decoration: none;
}
/* line 163, ../sass/partials/_header.scss */
header .desktop-menu nav ul li a span.icon:before {
  color: #FFFFFF;
  font-family: 'icomoon';
}
/* line 177, ../sass/partials/_header.scss */
header .main-header .link-logo {
  display: inline-block;
  margin-left: -0.9375em;
  margin-top: 3em;
  max-width: 100%;
}
/* line 185, ../sass/partials/_header.scss */
header .main-header .cards {
  padding-top: 30px;
  text-align: right;
}
/* line 189, ../sass/partials/_header.scss */
header .main-header .cards .card-link {
  display: inline-block;
  margin-right: 12px;
}
/* line 192, ../sass/partials/_header.scss */
header .main-header .cards .card-link .card {
  float: right;
  max-width: 50%;
  padding-left: 2%;
}
/* line 200, ../sass/partials/_header.scss */
header .main-header .cards-select-link-wrapper {
  padding-bottom: 30px;
  padding-top: 6px;
  text-align: right;
}
/* line 205, ../sass/partials/_header.scss */
header .main-header .cards-select-link-wrapper .cards-select-link {
  display: inline-block;
  color: #019bdb;
  text-decoration: underline;
  font-family: Helvetica,Arial;
  font-size: 0.85em;
  font-weight: 100;
}
/* line 212, ../sass/partials/_header.scss */
header .main-header .cards-select-link-wrapper .cards-select-link:hover {
  text-decoration: none;
  color: #019bdb;
}
/* line 217, ../sass/partials/_header.scss */
header .main-header .cards-select-link-wrapper .cards-select-link:after {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 8px solid #019bdb;
  content: "";
  display: inline-block;
  height: 0;
  left: 10px;
  position: relative;
  top: 0;
  width: 0;
}
/* line 231, ../sass/partials/_header.scss */
header .main-header .cards-select-link-wrapper .cards-select-link.no-arrow:after {
  display: none;
}

/* line 2, ../sass/partials/_footer.scss */
footer .footer-band {
  background: url("../images/footer-bar.png") no-repeat scroll 0 0/100% 100% rgba(0, 0, 0, 0);
  height: 100px;
}
/* line 7, ../sass/partials/_footer.scss */
footer .main-logo {
  text-align: right;
  margin-top: 1em;
}
/* line 12, ../sass/partials/_footer.scss */
footer .footer-links-wrapper {
  padding-top: 2% !important;
}
/* line 16, ../sass/partials/_footer.scss */
footer .copyright {
  margin-bottom: 1em;
}
/* line 19, ../sass/partials/_footer.scss */
footer .footer-links-wrapper, footer .copyright {
  color: #fff;
  text-align: center;
  padding: 0.5% 3% 0;
}
/* line 24, ../sass/partials/_footer.scss */
footer .footer-links-wrapper a.footer-link, footer .footer-links-wrapper span, footer .footer-links-wrapper p, footer .copyright a.footer-link, footer .copyright span, footer .copyright p {
  color: #fff;
  font-size: 0.65em;
}
/* line 29, ../sass/partials/_footer.scss */
footer .footer-links-wrapper a.footer-link:hover, footer .copyright a.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 1, ../sass/partials/_general.scss */
body {
  font-family: "Noto Sans", sans-serif;
  background: #18130d;
}
/* line 3, ../sass/partials/_general.scss */
body .uppercase-text {
  text-transform: uppercase;
}
/* line 7, ../sass/partials/_general.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #019bdb;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}
/* line 13, ../sass/partials/_general.scss */
body p {
  margin: 0;
}
/* line 17, ../sass/partials/_general.scss */
body .ta-center {
  text-align: center;
}
/* line 21, ../sass/partials/_general.scss */
body .no-padding {
  padding: 0;
}
/* line 27, ../sass/partials/_general.scss */
body p, body a, body h1, body h2, body h3, body h4, body h5, body h6, body span, body div {
  font-family: "Noto Sans", sans-serif;
}
/* line 31, ../sass/partials/_general.scss */
body a {
  color: #019bdb;
}
/* line 37, ../sass/partials/_general.scss */
body section[role="main"] {
  background: #18130d;
}
/* line 42, ../sass/partials/_general.scss */
body .band-wrap {
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 46, ../sass/partials/_general.scss */
body .extra-width {
  margin-left: -1.47%;
  margin-right: -2.2%;
  padding-left: 1.47%;
  padding-right: 2.2%;
  padding-top: 20px;
}
/* line 54, ../sass/partials/_general.scss */
body .page-content {
  background: #fff;
}
/* line 56, ../sass/partials/_general.scss */
body .page-content h2 {
  border-bottom: 1px solid #EFEFEF;
  font-family: 'Noto Sans','Helvetica','Arial';
  font-size: 1.65em;
  font-weight: 600;
  margin-bottom: 0.8em;
  padding-bottom: 0.2em;
}
/* line 65, ../sass/partials/_general.scss */
body .page-content h3.promo {
  font-family: Helvetica;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2em;
  margin-top: 0.6em;
}
/* line 73, ../sass/partials/_general.scss */
body .page-content article.art {
  overflow: auto;
  padding-bottom: 1em;
}
/* line 77, ../sass/partials/_general.scss */
body .page-content article.art:last-child {
  border-bottom: 1px solid #efefef;
}
/* line 81, ../sass/partials/_general.scss */
body .page-content article.art .col-20, body .page-content article.art .col-80, body .page-content article.art .col-13, body .page-content article.art .col-87 {
  float: left;
}
/* line 85, ../sass/partials/_general.scss */
body .page-content article.art .col-20 {
  width: 20%;
}
/* line 87, ../sass/partials/_general.scss */
body .page-content article.art .col-20 img {
  padding-top: 5px;
}
/* line 92, ../sass/partials/_general.scss */
body .page-content article.art .col-13 {
  width: 13%;
}
/* line 94, ../sass/partials/_general.scss */
body .page-content article.art .col-13 img {
  padding-top: 5px;
}
/* line 99, ../sass/partials/_general.scss */
body .page-content article.art .col-80 {
  width: 80%;
}
/* line 103, ../sass/partials/_general.scss */
body .page-content article.art .col-87 {
  width: 87%;
}
/* line 107, ../sass/partials/_general.scss */
body .page-content article.art p {
  color: #979797;
  font-family: Helvetica,Arial;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.2em;
  margin-top: 0.3em;
}
/* line 117, ../sass/partials/_general.scss */
body .page-content article.art .cat span {
  color: #979797;
  font-size: 0.75em;
}
/* line 122, ../sass/partials/_general.scss */
body .page-content article.art .cat a {
  color: #019bdb;
  font-size: 0.75em;
}
/* line 125, ../sass/partials/_general.scss */
body .page-content article.art .cat a:hover {
  text-decoration: underline;
  color: #019bdb;
}
/* line 131, ../sass/partials/_general.scss */
body .page-content article.art .cat a, body .page-content article.art .cat span {
  line-height: 2em;
}
/* line 136, ../sass/partials/_general.scss */
body .page-content article.art h4 {
  color: #18130d;
  font-weight: 300;
  font-size: 1em;
  font-family: 'Helvetica','Arial';
}
/* line 143, ../sass/partials/_general.scss */
body .page-content article.art h3 {
  font-size: 1em;
  font-weight: 300;
}
/* line 147, ../sass/partials/_general.scss */
body .page-content article.art h3 a {
  color: inherit;
}
/* line 149, ../sass/partials/_general.scss */
body .page-content article.art h3 a:hover, body .page-content article.art h3 a:active {
  color: inherit;
  text-decoration: underline;
}
/* line 155, ../sass/partials/_general.scss */
body .page-content article.art h3, body .page-content article.art h4 {
  display: inline;
}
/* line 164, ../sass/partials/_general.scss */
body .page-content .orbit-test-wrap .orbit-container ul.orbit-slides-container li {
  background: none repeat scroll 0 0 #18130d;
  text-align: center;
}
/* line 167, ../sass/partials/_general.scss */
body .page-content .orbit-test-wrap .orbit-container ul.orbit-slides-container li img {
  display: inline-block;
}
/* line 173, ../sass/partials/_general.scss */
body .page-content .orbit-test-wrap .orbit-next, body .page-content .orbit-test-wrap .orbit-prev, body .page-content .orbit-test-wrap .orbit-timer, body .page-content .orbit-test-wrap .orbit-slide-number, body .page-content .orbit-test-wrap .orbit-bullets {
  display: none;
}
/* line 177, ../sass/partials/_general.scss */
body .page-content .orbit-test-wrap .orbit-caption {
  visibility: hidden;
}
/* line 182, ../sass/partials/_general.scss */
body .page-content .slider-nav {
  overflow: auto;
  display: table;
  margin: 0;
  width: 100%;
}
/* line 189, ../sass/partials/_general.scss */
body .page-content .slider-nav li:last-child {
  border: 0 none;
  width: 33.4%;
}
/* line 194, ../sass/partials/_general.scss */
body .page-content .slider-nav li {
  background: none repeat scroll 0 0 #DADADA;
  border-right: 3px solid #FFFFFF;
  display: table-cell;
  float: left;
  width: 33.3%;
  position: relative;
}
/* line 202, ../sass/partials/_general.scss */
body .page-content .slider-nav li a {
  color: #4f4f4f;
  display: inline-block;
  font-size: 0.8em;
  height: 5em;
  line-height: 1.5em;
  padding: 11px 20px;
  text-align: left;
  width: 100%;
}
/* line 212, ../sass/partials/_general.scss */
body .page-content .slider-nav li a:hover, body .page-content .slider-nav li a.active {
  color: #FFFFFF;
  background: #016891;
  font-weight: 700;
}
/* line 217, ../sass/partials/_general.scss */
body .page-content .slider-nav li a:hover:before, body .page-content .slider-nav li a.active:before {
  border-bottom: 7px solid #016891;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  top: -7px;
  left: 44%;
  position: absolute;
  z-index: 99;
}

/* line 242, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column {
  padding-left: 0;
  padding-right: 0;
  background: #F1F1F1;
}
/* line 246, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column h2 {
  color: #016891;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
}
/* line 253, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column h2, body.category .page-content .sidebar-column section {
  padding-right: 10.9%;
  padding-left: 10.9%;
}
/* line 258, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.radios {
  background: #c7d8e0;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 263, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.radios > div {
  line-height: 2em;
}
/* line 267, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.radios input, body.category .page-content .sidebar-column section.radios label {
  display: inline-block;
  margin: 0;
  font-weight: 100;
  font-size: 1em;
}
/* line 274, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.radios input {
  margin-right: 0.5em;
}
/* line 278, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.radios label {
  color: #016891;
}
/* line 283, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.filter-button {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}
/* line 288, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.filter-button .filter-link {
  background: none repeat scroll 0 0 #019bdb;
  border-radius: 4px;
  color: #FFFFFF !important;
  display: inline-block;
  padding: 0.6em 9% 0.6em;
}
/* line 295, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.filter-button .filter-link:hover {
  background: none repeat scroll 0 0 #016891;
  color: #FFFFFF !important;
}
/* line 305, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 1em;
}
/* line 310, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section h3 {
  background: none repeat scroll 0 0 #016891;
  color: #FFFFFF;
  font-family: Helvetica,Arial;
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.6em;
  padding-left: 10.9%;
  padding-right: 10.9%;
}
/* line 321, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section input[type="checkbox"] {
  margin: 0;
}
/* line 325, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section > ul {
  padding-left: 10.9%;
  padding-right: 10.9%;
  padding-top: 0.7em;
  margin: 0;
}
/* line 331, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section > ul .check-row.level-2 {
  line-height: 1.6em;
}
/* line 336, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section > ul li.check-row label {
  display: inline-block;
  font-size: 0.8em;
  margin: 0;
}
/* line 343, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section > ul li.check-row.level-1 > ul {
  margin-left: 2em;
}
/* line 348, ../sass/partials/_general.scss */
body.category .page-content .sidebar-column section.checks-section > ul li.check-row.level-2:last-child {
  margin-bottom: 1em;
}
/* line 357, ../sass/partials/_general.scss */
body.category .page-content .main-column article.art {
  margin-bottom: 1em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #EFEFEF;
}
/* line 362, ../sass/partials/_general.scss */
body.category .page-content .main-column article.art p {
  line-height: 1.8em;
}
/* line 366, ../sass/partials/_general.scss */
body.category .page-content .main-column article.art:nth-last-child(2) {
  margin-bottom: 4.5em;
}
/* line 372, ../sass/partials/_general.scss */
body.category .page-content .main-column .foot-pagination ul.pag {
  margin: 0;
  display: inline-block;
}
/* line 376, ../sass/partials/_general.scss */
body.category .page-content .main-column .foot-pagination ul.pag li {
  display: inline-block;
}
/* line 379, ../sass/partials/_general.scss */
body.category .page-content .main-column .foot-pagination ul.pag li a.page-link {
  border: 1px solid #019bdb;
  font-size: 0.75em;
  padding: 2px 4px 0;
}
/* line 385, ../sass/partials/_general.scss */
body.category .page-content .main-column .foot-pagination ul.pag li .page-link:hover, body.category .page-content .main-column .foot-pagination ul.pag li .page-link:active, body.category .page-content .main-column .foot-pagination ul.pag li .page-link.current-page {
  border: 1px solid rgba(0, 0, 0, 0);
  color: #4f4f4f;
}
/* line 393, ../sass/partials/_general.scss */
body.category .page-content .main-column .foot-pagination a.prev, body.category .page-content .main-column .foot-pagination a.next {
  font-size: 0.75em;
}
/* line 396, ../sass/partials/_general.scss */
body.category .page-content .main-column .foot-pagination a.prev:hover, body.category .page-content .main-column .foot-pagination a.next:hover {
  text-decoration: underline;
  color: #019bdb;
}
/* line 401, ../sass/partials/_general.scss */
body.category .page-content .main-column .foot-pagination a.prev span, body.category .page-content .main-column .foot-pagination a.next span {
  font-size: 0.7em;
}
/* line 407, ../sass/partials/_general.scss */
body.category .page-content .main-column .results-head {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
}
/* line 412, ../sass/partials/_general.scss */
body.category .page-content .main-column .results-head .header-col h2 {
  border: medium none;
  color: #979797;
  font-size: 1.13em;
  margin-bottom: 0;
  font-weight: 100;
}
/* line 421, ../sass/partials/_general.scss */
body.category .page-content .main-column .results-head .conf-col {
  text-align: right;
}
/* line 424, ../sass/partials/_general.scss */
body.category .page-content .main-column .results-head .conf-col label, body.category .page-content .main-column .results-head .conf-col select {
  display: inline-block;
  font-size: 0.85em;
  margin: 0 0 0 5px;
  width: auto;
}

/* line 440, ../sass/partials/_general.scss */
body.two-columns-page.detalle-viajes article.art {
  padding-bottom: 1.6em !important;
}

/* line 449, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content {
  padding-top: 1.2em;
  padding-bottom: 6.2em;
}
/* line 451, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content div.cards-ben {
  border-bottom: 1px solid #F1F1F1;
  border-top: 1px solid #F1F1F1;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top: 1.5em;
}
/* line 458, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content div.cards-ben a {
  display: inline-block;
  max-width: 100%;
  margin-left: -2%;
}
/* line 462, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content div.cards-ben a img {
  width: 100%;
}
/* line 467, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content div.cards-ben h3 {
  color: #939393;
  font-family: 'Helvetica','Arial';
  font-size: 0.8em;
  font-weight: 600;
}
/* line 474, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content div.cards-ben p {
  font-size: 0.8em;
  font-weight: 100;
  font-family: 'Helvetica','Arial';
  color: #979797;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
/* line 484, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content div.cards-ben ul {
  margin: 0;
}
/* line 486, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content div.cards-ben ul li {
  display: inline-block;
  padding-right: 0.2em;
}
/* line 495, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .link-back-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 500, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .link-back {
  font-family: Helvetica;
  font-size: 0.9em;
  font-weight: 100;
}
/* line 506, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .link-back:hover {
  color: #019bdb;
}
/* line 509, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .link-back:hover span {
  text-decoration: none;
}
/* line 513, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .link-back:hover span.text {
  text-decoration: underline;
}
/* line 518, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content span {
  font-size: 0.8em;
  padding-right: 5px;
}
/* line 523, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content article.art {
  padding-bottom: 2.2em;
  border-bottom: 1px solid #F1F1F1;
}
/* line 524, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content article.art h3, body.two-columns-page .container .page-content article.art h4 {
  display: block;
}
/* line 528, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content article.art h3 {
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: inherit;
  line-height: 0.7em;
  padding-top: 0.3em;
}
/* line 539, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content article.art h4 .points-number {
  font-family: inherit;
  line-height: 1.8em;
}
/* line 549, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .right-column-wrapper {
  background: none repeat scroll 0 0 #F6F6F6;
  padding: 0.9375em;
}
/* line 553, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .right-column-wrapper h2 {
  color: #016891;
  font-weight: 400;
  border-bottom: 1px solid #D2D2D2;
}
/* line 561, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .right-column-wrapper ul.list {
  color: #019bdb;
  list-style: disc outside none;
  padding-left: 1.1em;
  margin-left: 0.3em;
  margin-bottom: 0;
  max-height: 720px;
  overflow: auto;
}
/* line 571, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .right-column-wrapper ul.list li {
  font-size: 0.85em;
  padding-bottom: 1.1em;
  padding-left: 0.2em;
}
/* line 576, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .right-column-wrapper ul.list li a {
  font-family: Helvetica,Arial;
  font-size: 1em;
  font-weight: 100;
}
/* line 581, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .right-column-wrapper ul.list li a:hover {
  text-decoration: underline;
  color: #019bdb;
}
/* line 592, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content h2.column-bar {
  background: none repeat scroll 0 0 #309D44;
  border-bottom: 0 none;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  position: relative;
  right: 1.9em;
  text-align: center;
  width: 100%;
}
/* line 607, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content h2.column-bar .left-triangle {
  border-left: 18px solid rgba(0, 0, 0, 0);
  border-top: 11px solid #186227;
  bottom: -10px;
  display: inline-block;
  height: 0;
  left: -9px;
  padding: 0 !important;
  position: absolute;
  width: 0;
}
/* line 619, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content h2.column-bar:before {
  border-bottom: 28px solid #309D44;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 0 solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 0;
  left: -9px;
  position: absolute;
  top: -1px;
  width: 0;
}
/* line 632, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content h2.column-bar:after {
  border-bottom: 28px solid #309D44;
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-left: 0 solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 0;
  right: -9px;
  position: absolute;
  top: -1px;
  width: 0;
}
/* line 648, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content a.change-now {
  background: none repeat scroll 0 0 #019BDB;
  border-radius: 3px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 0.75em;
  margin-top: 0.3em;
  padding: 0.7em;
}
/* line 657, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content a.change-now:hover {
  background: #016891;
}
/* line 666, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .accordions-wrapper .acc h3.link-acc {
  color: #4f4f4f;
  font-size: 0.9em;
  font-weight: 100;
  padding-top: 1em;
  padding-bottom: 0.2em;
}
/* line 673, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .accordions-wrapper .acc h3.link-acc:hover {
  cursor: pointer;
}
/* line 677, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .accordions-wrapper .acc h3.link-acc .more-icon:after {
  content: "\e60a";
  font-family: 'icomoon';
  color: #019bdb;
  font-size: 1.9em;
  font-weight: 100;
  line-height: 1em;
  position: relative;
  top: 0.2em;
}
/* line 688, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .accordions-wrapper .acc h3.link-acc .more-icon {
  float: right;
}
/* line 694, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .accordions-wrapper .acc h3.link-acc.active .more-icon:after {
  content: "\e609";
  font-family: 'icomoon';
}
/* line 701, ../sass/partials/_general.scss */
body.two-columns-page .container .page-content .accordions-wrapper .acc .acc-item-content p {
  color: #979797;
  font-size: 0.9em;
  font-weight: 100;
  font-family: 'Helvetica','Arial';
  line-height: 1.4em;
}
/* line 720, ../sass/partials/_general.scss */
body.two-columns-page.detalle-viajes .container .page-content {
  padding-bottom: 2.2em;
}

/* line 729, ../sass/partials/_general.scss */
body.two-columns-page.detalle article.art {
  padding-bottom: 1.6em !important;
}
/* line 731, ../sass/partials/_general.scss */
body.two-columns-page.detalle article.art p.validez {
  padding-top: 1em;
}
/* line 734, ../sass/partials/_general.scss */
body.two-columns-page.detalle article.art p.validez span {
  color: #019bdb;
  font-size: 0.9em;
}
/* line 741, ../sass/partials/_general.scss */
body.two-columns-page.detalle ul.list {
  max-height: 320px !important;
  list-style: none !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
/* line 747, ../sass/partials/_general.scss */
body.two-columns-page.detalle ul.list > li:before {
  content: "";
  font-family: 'icomoon';
  font-size: 1.2em;
  position: absolute;
  top: -2px;
  left: 0;
  padding-left: 0.3em;
}
/* line 757, ../sass/partials/_general.scss */
body.two-columns-page.detalle ul.list > li {
  position: relative;
  padding-left: 1.6em !important;
}
/* line 760, ../sass/partials/_general.scss */
body.two-columns-page.detalle ul.list > li a {
  font-size: 1.1em;
}
/* line 764, ../sass/partials/_general.scss */
body.two-columns-page.detalle ul.list > li p {
  color: #979797;
}
/* line 771, ../sass/partials/_general.scss */
body.two-columns-page.detalle .map {
  box-shadow: 0 0 2px 2px #DDDDDD;
  margin-bottom: 30px;
  padding: 10px;
}
/* line 777, ../sass/partials/_general.scss */
body.two-columns-page.detalle .map > small {
  display: none;
}
/* line 781, ../sass/partials/_general.scss */
body.two-columns-page.detalle .map > iframe {
  width: 100%;
}

/* Menu responsive - styles */
/* line 790, ../sass/partials/_general.scss */
body.off-canvas {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

/* line 801, ../sass/partials/_general.scss */
[role=main] {
  background: none repeat scroll 0 0 #FFFFFF;
  float: right;
  margin-left: 0;
  position: relative;
  z-index: 1;
}

/* line 809, ../sass/partials/_general.scss */
[role=complementary], [role=main] {
  display: block;
  transition: all 0.08s ease 0s;
}

/* line 814, ../sass/partials/_general.scss */
[role=main] {
  width: 100%;
}

/* line 818, ../sass/partials/_general.scss */
[role=main]:before {
  background: none repeat scroll 0 0 #FFFFFF;
  content: " ";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* line 829, ../sass/partials/_general.scss */
.active [role=complementary] {
  margin-left: 0;
}

/* line 832, ../sass/partials/_general.scss */
.hide-extras [role=complementary] {
  display: block;
}

/* line 844, ../sass/partials/_general.scss */
[role=complementary], [role=main] {
  transition: all 0.08s ease 0s;
}

/* line 849, ../sass/partials/_general.scss */
#sidebar .row {
  overflow: hidden;
}

/* line 852, ../sass/partials/_general.scss */
#sidebar .row .row {
  overflow: visible;
}

/* line 855, ../sass/partials/_general.scss */
#sidebar .paneled .container {
  overflow: hidden;
}

/* line 858, ../sass/partials/_general.scss */
a.sidebar-button {
  display: inline-block;
  margin-bottom: 6px;
  margin-left: -10px;
  margin-top: 8px;
  padding: 10px;
}

/* line 865, ../sass/partials/_general.scss */
a.sidebar-button img {
  margin-top: -6px;
  width: 120px;
}

/* line 869, ../sass/partials/_general.scss */
a.sidebar-button h4 {
  color: #FFFFFF;
  display: inline !important;
  line-height: 1;
  margin-left: 10px;
}

/* line 875, ../sass/partials/_general.scss */
#sidebar {
  background: none repeat scroll 0 0 #333333;
  box-shadow: -2px 0 8px -1px #111111 inset;
  height: 100%;
  padding: 10px 0 0;
  position: absolute;
}

/*>>>>>>> menu-responsive*/
@media only screen and (max-width: 1040px) {
  /* line 4, ../sass/partials/_mediaquery.scss */
  header .header-form {
    background: #ffd359;
    height: auto;
    overflow: auto;
  }
  /* line 12, ../sass/partials/_mediaquery.scss */
  header .desktop-menu nav ul li:first-child a:before, header .desktop-menu nav ul li:last-child a:before {
    display: none;
  }
  /* line 17, ../sass/partials/_mediaquery.scss */
  header .desktop-menu nav ul li {
    width: 19%;
  }
  /* line 19, ../sass/partials/_mediaquery.scss */
  header .desktop-menu nav ul li a {
    padding: 0.5em 0;
  }
  /* line 24, ../sass/partials/_mediaquery.scss */
  header .desktop-menu nav ul li:nth-child(4) {
    width: 24%;
  }

  /* line 31, ../sass/partials/_mediaquery.scss */
  footer .footer-band {
    background: #ff3873;
    height: 50px;
  }

  /* line 38, ../sass/partials/_mediaquery.scss */
  body .extra-width {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }
  /* line 46, ../sass/partials/_mediaquery.scss */
  body .col-80, body .col-87 {
    padding-left: 3% !important;
  }

  /* line 54, ../sass/partials/_mediaquery.scss */
  body.two-columns-page .main-wrapper .page-content h2.column-bar {
    margin-left: -1.2em !important;
    margin-right: -1.2em !important;
    right: 0 !important;
    width: auto !important;
  }
  /* line 55, ../sass/partials/_mediaquery.scss */
  body.two-columns-page .main-wrapper .page-content h2.column-bar:before, body.two-columns-page .main-wrapper .page-content h2.column-bar:after, body.two-columns-page .main-wrapper .page-content h2.column-bar span.left-triangle {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  /* line 73, ../sass/partials/_mediaquery.scss */
  body .columns.double-padding-right-large {
    padding-right: 1.875em;
  }
  /* line 77, ../sass/partials/_mediaquery.scss */
  body .columns.no-padding-left-large {
    padding-left: 0;
  }

  /* line 85, ../sass/partials/_mediaquery.scss */
  body.sidebar-page header .header-form {
    margin-top: -42px;
    position: relative;
    top: 42px;
    z-index: 1;
  }
  /* line 94, ../sass/partials/_mediaquery.scss */
  body.sidebar-page footer .footer-band {
    bottom: 39px;
    position: relative;
    margin-bottom: -39px;
  }
  /* line 103, ../sass/partials/_mediaquery.scss */
  body.sidebar-page div.page-content {
    background: #FFFFFF;
  }
  /* line 105, ../sass/partials/_mediaquery.scss */
  body.sidebar-page div.page-content .sidebar-column {
    background: #F1F1F1;
  }
  /* line 107, ../sass/partials/_mediaquery.scss */
  body.sidebar-page div.page-content .sidebar-column .header-col h2 {
    margin: 1.6em 0 0.7em !important;
  }
  /* line 112, ../sass/partials/_mediaquery.scss */
  body.sidebar-page div.page-content .sidebar-column .conf-col {
    text-align: center !important;
    margin-bottom: 1em;
    margin-top: 0.3em;
  }
  /* line 122, ../sass/partials/_mediaquery.scss */
  body.sidebar-page div.page-content .main-column {
    background: #FFFFFF;
  }
  /* line 126, ../sass/partials/_mediaquery.scss */
  body.sidebar-page div.page-content > .columns {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  /* line 137, ../sass/partials/_mediaquery.scss */
  body.category .page-content .results-head {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  /* line 140, ../sass/partials/_mediaquery.scss */
  body.category .page-content .results-head .columns {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 154, ../sass/partials/_mediaquery.scss */
  .ta-center-for-small {
    text-align: center;
  }

  /* line 158, ../sass/partials/_mediaquery.scss */
  .active [role=main] {
    margin-right: -85%;
  }

  /* line 162, ../sass/partials/_mediaquery.scss */
  [role=complementary] {
    float: left;
    width: 85%;
    z-index: 2;
    margin-left: -85%;
  }

  /* line 169, ../sass/partials/_mediaquery.scss */
  #sidebar {
    font-family: 'Helvetica','Arial';
    margin-top: 18px;
    padding-top: 0 !important;
    background: #019bdb;
    position: relative;
    box-shadow: 0 0 0 0;
  }
  /* line 178, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li a {
    font-family: 'Helvetica','Arial';
    display: inline-block;
    width: 100%;
    background: #019bdb;
    color: #fff;
  }
  /* line 184, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li a:hover, #sidebar #sideMainNav li a.current, #sidebar #sideMainNav li a:active {
    background: #016891;
    color: #fff;
  }
  /* line 189, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li a:before {
    color: #FFFFFF;
    display: inline-block;
    font-family: 'icomoon';
    line-height: 3em;
    text-align: center;
    width: 4em;
  }
  /* line 201, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li:nth-child(1) a:before {
    content: "\e601";
  }
  /* line 207, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li:nth-child(2) a:before {
    content: "\e606";
  }
  /* line 213, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li:nth-child(3) a:before {
    content: "\e607";
  }
  /* line 219, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li:nth-child(4) a:before {
    content: "\e600";
  }
  /* line 225, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li:nth-child(5) a:before {
    content: "\e602";
  }
  /* line 229, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li:nth-child(5) a {
    background: #7ccdf8;
  }
  /* line 232, ../sass/partials/_mediaquery.scss */
  #sidebar #sideMainNav li:nth-child(5) a:hover, #sidebar #sideMainNav li:nth-child(5) a:active, #sidebar #sideMainNav li:nth-child(5) a.current {
    background: #016891;
  }
  /* line 240, ../sass/partials/_mediaquery.scss */
  #sidebar .logo-blog > a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.5em;
    line-height: 2.1em;
    width: 100%;
    font-family: 'Helvetica','Arial';
  }

  /* line 251, ../sass/partials/_mediaquery.scss */
  body [role="main"]:before {
    background: none repeat scroll 0 0 #019bdb;
    margin-top: 18px;
  }

  /* line 260, ../sass/partials/_mediaquery.scss */
  html {
    background: #18130d;
  }

  /* line 266, ../sass/partials/_mediaquery.scss */
  body .no-padding-right-small {
    padding-right: 0;
  }
  /* line 271, ../sass/partials/_mediaquery.scss */
  body header .main-header {
    padding-bottom: 1em;
  }
  /* line 276, ../sass/partials/_mediaquery.scss */
  body header .header-form label {
    padding: 10px;
    text-align: center;
  }
  /* line 281, ../sass/partials/_mediaquery.scss */
  body header .header-form .search-icon, body header .header-form .dir-icon {
    right: 20px !important;
  }
  /* line 286, ../sass/partials/_mediaquery.scss */
  body header .mobile-btn {
    background: none repeat scroll 0 0 #019bdb;
    display: inline-block !important;
    padding: 4px 10px 5px;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 18px;
  }
  /* line 295, ../sass/partials/_mediaquery.scss */
  body header .mobile-btn:hover {
    background: #016891;
  }
  /* line 297, ../sass/partials/_mediaquery.scss */
  body header .mobile-btn:hover:after {
    border-top: 50px solid #016891;
  }
  /* line 302, ../sass/partials/_mediaquery.scss */
  body header .mobile-btn span {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    display: block;
    height: 5px;
    margin-top: 6px;
    width: 100%;
  }
  /* line 311, ../sass/partials/_mediaquery.scss */
  body header .mobile-btn:after {
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 50px solid #019bdb;
    content: "";
    height: 0;
    left: 50px;
    position: absolute;
    top: 0;
    width: 0;
  }
  /* line 327, ../sass/partials/_mediaquery.scss */
  body header .link-logo {
    margin-left: 0 !important;
    margin-top: 1.2em !important;
  }
  /* line 332, ../sass/partials/_mediaquery.scss */
  body header .cards {
    padding-top: 20px !important;
  }
  /* line 335, ../sass/partials/_mediaquery.scss */
  body header .cards .card-link .card {
    max-width: 50%;
  }
  /* line 342, ../sass/partials/_mediaquery.scss */
  body header .cards-select-link-wrapper {
    padding-bottom: 0 !important;
    text-align: center !important;
  }
  /* line 349, ../sass/partials/_mediaquery.scss */
  body footer .footer-links-wrapper, body footer .copyright {
    text-align: left !important;
  }
  /* line 353, ../sass/partials/_mediaquery.scss */
  body footer .copyright {
    margin-top: 0.7em;
  }
  /* line 360, ../sass/partials/_mediaquery.scss */
  body .page-content h2 {
    margin-top: 0.7em !important;
    margin-bottom: 0.5em !important;
    padding-bottom: 0.2em !important;
  }
  /* line 366, ../sass/partials/_mediaquery.scss */
  body .page-content article.art .col-80, body .page-content article.art .col-87 {
    padding-left: 3% !important;
  }
  /* line 370, ../sass/partials/_mediaquery.scss */
  body .page-content article.art .col-87 {
    width: 80% !important;
  }
  /* line 374, ../sass/partials/_mediaquery.scss */
  body .page-content article.art .col-20, body .page-content article.art .col-13 {
    text-align: center !important;
  }
  /* line 378, ../sass/partials/_mediaquery.scss */
  body .page-content article.art .col-13 {
    width: 20% !important;
  }
  /* line 383, ../sass/partials/_mediaquery.scss */
  body .page-content article.art:last-child {
    border-bottom: 0;
  }
  /* line 389, ../sass/partials/_mediaquery.scss */
  body .page-content .orbit-test-wrap + .slider-nav li a {
    padding: 11px 13px !important;
    height: 8em !important;
    font-size: 0.7em !important;
  }
  /* line 397, ../sass/partials/_mediaquery.scss */
  body .page-content h3.promo {
    margin-bottom: 2.6em;
    margin-top: 0.9em;
  }
  /* line 404, ../sass/partials/_mediaquery.scss */
  body footer .main-logo {
    padding: 0.5% 3% 0;
  }

  /* line 413, ../sass/partials/_mediaquery.scss */
  body.category .container .main-column article.art:nth-last-child(2) {
    margin-bottom: 2em;
  }
  /* line 417, ../sass/partials/_mediaquery.scss */
  body.category .container .main-column .foot-pagination {
    text-align: center;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 420px) {
  /* line 430, ../sass/partials/_mediaquery.scss */
  body header#header .main-header .link-logo {
    margin-top: 1.5em !important;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 437, ../sass/partials/_mediaquery.scss */
  header .desktop-menu nav ul li:last-child a:before {
    right: -8px !important;
  }
}
